# ==========================================
# NESORA Mobile Environment Configuration
# ==========================================

# Backend API Server Endpoint (HTTPS in production)
EXPO_PUBLIC_API_URL="https://nesora-api-xi.vercel.app/api/v1"
EXPO_PUBLIC_APP_URL="https://nesora.org"

# Google Authentication
# Web Client ID (Used for Web & Fallback)
EXPO_PUBLIC_GOOGLE_CLIENT_ID="443484828850-7mb86lr6gdsr5770lceig7qcqrb7q3k4.apps.googleusercontent.com"

# Android OAuth Client ID (From Google Cloud Console configured with Android package name + SHA-1)
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID="443484828850-ec9nhf0gvsp9l0f5g7njhije1qggc0a5.apps.googleusercontent.com"

# iOS OAuth Client ID (From Google Cloud Console configured with iOS Bundle ID `com.nesora.app`)
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID="443484828850-7mb86lr6gdsr5770lceig7qcqrb7q3k4.apps.googleusercontent.com"

# Pusher WebSockets (Real-time Messaging, Alerts & Calling)
EXPO_PUBLIC_PUSHER_KEY="c5a4a0f059cff0cf327b"
EXPO_PUBLIC_PUSHER_CLUSTER="mt1"

# Cloudinary Media Storage (Photos, Videos, Audio, Avatars)
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME="docaxdijp"
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET="nesora_uploads"
